/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DCDCDC;
    background: #000;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
}

.text-section .container{
    height: calc(100vh - 203px);
}

#hero{
    padding-top: 203px;
}
#formul{
    padding-top: 197px;
}

#friction,
#protect,
#termo{
    padding-top: 157px;
}

#order .container{
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 34px 0 33px;
    max-height: 24px;
}

header .container {
    display: flex;
    align-items: center;
    gap: 180px;
}

header .btn{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;

    color: #7B818C;

    display: flex;
    gap: 14px;
}
header .btn svg{
    margin-top: 7px;
}

/* Sticky секция */
.sticky-section {
    position: relative;
    height: 500vh; /* Высота в 5 экранов */
}

/* Sticky контейнер с горизонтальной компоновкой */
.sticky-container {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 80px 0 40px; /* Учитываем высоту header */
}

.sticky-container::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 75%;
    background: url(image/Ellipse.png) center center no-repeat;
    background-size: cover;
}

/* Левая колонка - текст */
.text-column {
    flex: 1;
    padding-right: 50px;
    max-width: 600px;
}

.text-section {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
}

.text-section.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.text-section .content {
    max-width: 500px;
}

/* Heading */

#formul h2{
    max-width: 408px;
}
#order h2{
    font-size: 43px;
}

h2{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FF5B00;
}

#hero .subTitle{
    max-width: 300px;
    padding: 28px 0 7px;
}

#formul .subTitle{
    max-width: 357px;
    padding: 24px 0 12px;
}

#order .subTitle{
    max-width: 367px;
    padding: 24px 0 54px;

    margin: 0 auto;
}

.subTitle{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}

#hero .description{
    padding-bottom: 75px;
}

#formul .description{
    max-width: 353px;
    padding-bottom: 47px;
}

#termo .description{
    max-width: 350px;
    padding: 24px 0 47px;
}

#protect .description{
    max-width: 350px;
    padding: 24px 0 73px;
}
#friction .description{
    max-width: 350px;
    padding: 24px 0 71px;
}

.description{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #7B818C;
}
.description span{
    color: #DCDCDC;
    font-weight: 800;
}

.btn{
    text-decoration: none;
}

.buyBtn{
    display: inline-block;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    text-align: center;
    text-transform: uppercase;
    color: #FF5B00; 

    background: url('image/buyBtnBG.png') center center no-repeat;
    background-size: contain;
    padding: 16px 16px 22px;

    max-width: 256px;
    margin: 0 auto;

    position: relative;
}

#order .buyBtn{
    background: url('image/buyBtnBGOrder.png') center center no-repeat;
}

#order .scrollDownBtn{
    display: flex;
    gap: 14px;
}

.gifContainer{
    position: relative;
    left: -37px;
}
#frame-background{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
    opacity: 0.5;
}

.scrollDownBtn{
    position: absolute;
    left: 2px;
    bottom: 24px;
}

footer{
    background: #FF5B00;
    padding: 128px 0 30px;
    color: #020204;
}

footer .contactWrapper{
    display: flex;
    gap: 298px;
}
footer .contactWrapper .card .title{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 92.52%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    padding-bottom: 18px;
}
footer .contactWrapper .card .cardDescription{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
footer .contactWrapper .card a{
    padding-top: 10px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 92.52%;
    text-align: right;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #020204;
}
footer .contactWrapper .contactInfo{
    display: flex;
    gap: 155px;
}
footer .contactWrapper .contactInfo .contact{
    display: flex;
    flex-direction: column;
    gap: 53px;
}
.footerCloser{
    padding-top: 150px;
    display: flex;
    align-items: end;
    gap: 185px;
}
.footerCloser p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #000000;
}
.footerCloser .info{
    display: flex;
    align-items: end;
    gap: 96px;
}
.footerCloser .info svg{
    margin-left: 12px;
}
.footerCloser .meta{
    max-width: 310px;
}

/* Правая колонка - анимация */
.animation-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.animation-container {
    position: relative;
}

.frame-display {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#frame-img {
    position: relative;
    width: 1440px;
    height: 100%;
    object-fit: contain;
    display: block;
    z-index: 9;
}

.frame-controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Адаптивность */
@media (max-width: 1365.99px) {
    .sticky-container::after{
        width: 100%;
    }
}
@media (max-width: 1279.99px) {
    .container {
        width: 95%;
        max-width: unset;
    }
}
@media (max-width: 1184.99px){
    #frame-img{
        width: 1124px;
    }
}

@media (max-width: 979.99px) {
    #frame-img{
        width: 1024px;
    }
}

@media (max-width: 768.99px) {
}